# Z-Image Turbo R128 SVDQ-FP4 Nunchaku configuration
pipeline:
  name: zimage
  path: Tongyi-MAI/Z-Image-Turbo
  # Windows: D:/nu/z_image_turbo_bf16.safetensors
  # Vast.ai/Linux: /root/models/z_image_turbo_bf16.safetensors
  transformer_path: /root/models/z_image_turbo_bf16.safetensors
  dtype: torch.bfloat16
eval:
  num_steps: 4
  guidance_scale: 3.5
  batch_size: 1
  protocol: euler{num_steps}-g{guidance_scale}
quant:
  calib:
    data: zit_calib
    num_samples: 128
    batch_size: 1
  wgts:
    enable_calib_range: false
    calib_range:
      element_batch_size: 64
      sample_batch_size: 1
      element_size: 512
      sample_size: -1
    low_rank:
      rank: 128
      compensate: true
      num_iters: 1
      sample_batch_size: 1
      sample_size: -1
    skips: []
  ipts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 1
      element_size: 512
      sample_size: -1
    skips: []
  opts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 1
      element_size: 512
      sample_size: -1
  enable_smooth: true
  smooth:
    enable_proj: true
    enable_attn: false
    proj:
      objective: OutputsError
      strategy: Manual
      granularity: Layer
      element_batch_size: -1
      sample_batch_size: 1
      element_size: -1
      sample_size: -1
      alpha: 0.5
      beta: -2
      num_grids: 20
      allow_low_rank: true
      outputs_device: cpu
      fuse_when_possible: false
      skips: []
    attn:
      sample_batch_size: 1
      sample_size: -1
