quant:
  enable_smooth: true
  smooth:
    enable_proj: true
    proj:
      objective: OutputsError
      strategy: GridSearch
      granularity: Layer
      spans:
      - - AbsMax
        - AbsMax
      alpha: 0.5
      beta: -2
      num_grids: 20
      allow_low_rank: true
      fuse_when_possible: false
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - down_sample
      - up_sample
  wgts:
    enable_low_rank: true
    dtype: sfp4_e2m1_all
    group_shapes:
    - - -1
      - -1
    - - 1
      - 16
      - 1
      - 1
      - 1
    scale_dtypes:
    - null
    - sfp8_e4m3_nan
    low_rank:
      rank: 128
      early_stop: true
      degree: 2
      objective: OutputsError
      num_iters: 100
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - down_sample
      - up_sample
  ipts:
    static: false
    dtype: sfp4_e2m1_all
    group_shapes:
    - - 1
      - 16
      - 1
      - 1
      - 1
    scale_dtypes:
    - sfp8_e4m3_nan
  enable_extra_wgts: true
  extra_wgts:
    dtype: sint4
    group_shapes:
    - - 1
      - 64
      - 1
      - 1
      - 1
    scale_dtypes:
    - null
    includes:
    - transformer_norm
    - transformer_add_norm
pipeline:
  shift_activations: true
